# =========================
# Visual Studio
# =========================
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
out/
build/
[Bb]in/
[Oo]bj/

# =========================
# .NET Core
# =========================
project.lock.json
project.fragment.lock.json
artifacts/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Rider / Resharper
# =========================
.idea/
*.sln.iml

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
packages/
!packages/build/

# =========================
# Publish
# =========================
publish/
*.publishsettings

# =========================
# Temp / cache
# =========================
*.tmp
*.cache
*.vsidx

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Database / local files
# =========================
*.mdf
*.ldf

# =========================
# Node (если вдруг есть фронт)
# =========================
node_modules/
dist/
dist/